* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: var(--secondary);
  overflow-x: hidden;
}

/* CUSTOM PROPERTIES */

:root {
  --primary: #343a40;
  --secondary: #f8f9fa;
  --tertiary: #343a402a;
}

  